@import './_variables.scss';

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: white;
  color: $primary-black;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
} 